/* Estilos para pantallas grandes */
.registro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: rgb(26, 32, 32);
    /* width: 50%; */
}


.correo,
.contraseña {
    color: aliceblue;
}



.registro Button {
    background-color: rgba(6, 117, 54, 0.734);
    color: rgb(244, 238, 238);
    /* Cambiar el color del texto para que sea legible */
}

/* Cambiar el color de los botones activos a amarillo */
.registro Button.active,
.registro Button:active,
.registro Button:hover {
    background-color: rgb(0, 94, 255);
}

/* Cambiar el color de los botones "Iniciar Sesión" y "Registrarse" a amarillo */
.registro .iniciar,
.registro .registrarse {
    background-color: rgba(6, 144, 45, 0.541);
    color: rgb(255, 255, 255);
    /* Cambiar el color del texto para que sea legible */
}

/* Cambiar el color de los botones activos a amarillo */
.registro .iniciar.active,
.registro .iniciar:active,
.registro .iniciar:hover,
.registro .registrarse.active,
.registro .registrarse:active,
.registro .registrarse:hover {
    background-color: rgb(0, 21, 255);
}

.form-container {
    max-width: 400px;
    /* Ancho máximo del formulario */
    width: 100%;
    /* Asegura que el formulario ocupe todo el ancho disponible */
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    /* Espaciado entre los elementos del formulario */
}

.registro .mb-3 {
    display: flex;
    align-items: center;
    /* Alinea verticalmente el checkbox y el texto */
    margin-bottom: 10px;
    /* Ajusta el espaciado entre elementos si es necesario */
}

.registro .mb-3 .form-check-input {
    margin-right: 5px;
    /* Ajusta el espaciado entre el checkbox y el texto */
}




/* Estilos para pantallas pequeñas (ejemplo: menos de 768px) */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }


    .form-container {
        max-width: 100%;
        /* Ancho máximo del formulario en pantallas pequeñas */
    }

}

@media (max-width: 390px) and (max-height: 844px) {

    /* Ajusta el tamaño de la fuente y el espaciado entre elementos para que se vea bien en esta pantalla específica */
    body {
        font-size: 14px;
        line-height: 1.2;
        margin: 5px;
    }


}