.registro {
    place-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 1% 7%;
    background-color: #fff;
    opacity: 0.9;
    height: 50%;
    border-radius: 7%;
    margin-bottom: 50px;
}

/* Establece el mismo color de fondo para ambos botones */
.iniciar,
.registrarse {
    margin: 10px;
    padding-right: 30px;
    background-color: #82b817;
    /* Aquí puedes especificar el color que desees */
}