:root {
  --negro: #21201E;
  --blanco: #FFF;
  --naranja: #EFAC1F;
}

.producto-formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.producto-input{
  width: 350px;
  font-size: 18px;
  background-color: var(--blanco);
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid var(--negro);
  outline: none;
}

 .producto-boton{
  padding: 16.5px !important;
  font-family: Roboto, sans-serif !important;
  border: 1.5px solid var(--negro) !important;
  border-radius: 0 4px 4px 0 !important;

} 