 :root {
    --negro: #21201E;
    --blanco: #FFF;
    --naranja: #EFAC1F;
    --mi-tipografia: sans-serif;
  }

.producto-contenedor{
    min-width: 580px;
    min-height: 65px;
    background-color: var(--blanco);
    border-radius: 7px;
    border: 1px solid var(--negro);
} 

.producto-texto{
    width: 100%;
    height: 100%;
}

.input-productos{
    padding-right: 0 !important;
}