.contenedor-agregados{
  width: 500px;
  min-height: 65px;
  background-color: var(--blanco);
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 1px solid var(--negro);
}

.agregados-texto{
  width: 100%;
  height: 100%;
  font-size: 15px;
  overflow-wrap: anywhere;
}

.boton-editar-eliminar{
  display: flex;
  flex-direction: column;
  justify-content: center;
}